@page
@model Biblioteca.Pages.tomar_prestado.tomarprestadoModel
@{
}
<h1>préstamo del libro  @Model.libros.Titulo</h1>
<form method="post">
    <input type="hidden" nameasp-for="prestamo.ID_prestamo" />
    <input type="hidden" asp-for="prestamo.ID_libro" value="@Model.libros.ID_libro" />
    <input type="hidden" asp-for="libros.ID_libro" />
    <input type="hidden" asp-for="libros.ID_estado" value=1 />
    <input type="hidden" asp-for="libros.Paginas" />
    <input type="hidden" asp-for="libros.pais" />
    <input type="hidden" asp-for="libros.Publicación" />
    <input type="hidden" asp-for="libros.Resumen_del_documento" />
    <input type="hidden" asp-for="libros.ID_libro" />
    <input type="hidden" asp-for="libros.Titulo" />
    <input type="hidden" asp-for="libros.Serie" />
    <input type="hidden" asp-for="libros.Idioma" />





    <div>Cédula</div>
    <input type="text" asp-for="usuario.Cedula" list="cedula" />
    <div>fecha de devoluvción</div>
    <input type="date" asp-for="prestamo.Fecha_devolucion" value="@DateTime.Now">

    <datalist id="cedula">
        @foreach (var users in Model.usuarios)
        {
            @if (users.tardanzas == 0)
            {
                <option>@users.Cedula</option>
            }
        }
    </datalist>
    <h1>@Model.mensaje</h1>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>