@page
@model Biblioteca.detallesModel
@{
    ViewData["Title"] = "detalles";
}

<h1>@Model.Libros.Titulo</h1>
<div>
    Estado: @Model.Libros.ID_estado
</div>
<div>
    Ubicación física: @Model.Libros.Ubicación_física
</div>
<div>
    Idioma: @Model.Libros.Idioma
</div>
<div>
    País : @Model.Libros.pais
</div>
<div>
    Autor: @Model.Libros.Serie
</div>
<div>
    Nota: @Model.Libros.Notas
</div>
<div>
    @if (@Model.Libros.ID_estado > 1)
    {
        <a asp-page="../tomar prestado/tomarprestado" class="btn btn-dark" asp-route-libroid="@Model.Libros.ID_libro">Tomar prestado</a>
    }
    @if (@Model.Libros.ID_estado <= 1)
    {
        <h3>Libro no disponible</h3>
    }

    <a asp-page="./Libros" class="btn btn-dark">Lista de libros</a>
</div>
